---
http_interactions:
- request:
    method: get
    uri: http://api.zype-core.com:3000/playlists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"6fdfbd19a55ab7d609f8394435103929"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"_id":"549082404c616e20e7290000","_keywords":["playlist","test"],"active":true,"created_at":"2014-12-16T14:04:32.666-05:00","description":"","priority":0,"related_video_ids":[],"site_id":"545932274c616e2359000000","title":"Test
        Playlist","updated_at":"2014-12-16T14:04:32.666-05:00","playlist_item_count":4}],"pagination":{"current":1,"previous":null,"next":null,"per_page":10,"pages":1}}'
  recorded_at: Tue, 16 Dec 2014 19:06:40 GMT
recorded_with: VCR 2.9.3
