---
http_interactions:
- request:
    method: get
    uri: http://api.zype-core.com:3000/categories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d85f6d61f4dfd7a3b14d5fb99d2babe4"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"_id":"545cde234c616e04c3000000","_keywords":["seasonnotnot"],"created_at":"2014-11-07T09:58:43.355-05:00","site_id":"545932274c616e2359000000","title":"SeasonNOTNOT","updated_at":"2014-12-16T13:16:31.852-05:00","values":["1","2","3","4","5","6","7"]},{"_id":"546bbe694c616e07fe3e0000","_keywords":["test"],"created_at":"2014-11-18T16:47:21.221-05:00","site_id":"545932274c616e2359000000","title":"Test","updated_at":"2014-11-18T16:47:21.221-05:00","values":["yes","no"]},{"_id":"546cb2b64c616e043d000000","_keywords":["final","test"],"created_at":"2014-11-19T10:09:42.224-05:00","site_id":"545932274c616e2359000000","title":"Final
        test","updated_at":"2014-11-19T10:09:42.224-05:00","values":["everything"]},{"_id":"548f5b8e4c616e8031010000","_keywords":["cli"],"created_at":"2014-12-15T17:07:10.481-05:00","site_id":"545932274c616e2359000000","title":"From
        the CLI","updated_at":"2014-12-15T17:07:10.481-05:00","values":[]},{"_id":"548f5bb74c616e8031020000","_keywords":["cli"],"created_at":"2014-12-15T17:07:51.307-05:00","site_id":"545932274c616e2359000000","title":"From
        the CLI 2","updated_at":"2014-12-15T17:07:51.307-05:00","values":[]},{"_id":"54906b844c616e20e7000000","_keywords":["bonus","features"],"created_at":"2014-12-16T12:27:32.613-05:00","site_id":"545932274c616e2359000000","title":"Bonus
        Features","updated_at":"2014-12-16T12:27:32.613-05:00","values":["Yes"]}],"pagination":{"current":1,"previous":null,"next":null,"per_page":10,"pages":1}}'
  recorded_at: Tue, 16 Dec 2014 18:19:15 GMT
- request:
    method: get
    uri: http://api.zype-core.com:3000/categories/545cde234c616e04c3000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"8b7b45b70fd6eb253aafb298eb6d896d"'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"_id":"545cde234c616e04c3000000","_keywords":["seasonnotnot"],"created_at":"2014-11-07T09:58:43.355-05:00","site_id":"545932274c616e2359000000","title":"SeasonNOTNOT","updated_at":"2014-12-16T13:16:31.852-05:00","values":["1","2","3","4","5","6","7"]}}'
  recorded_at: Tue, 16 Dec 2014 18:19:15 GMT
recorded_with: VCR 2.9.3
