---
http_interactions:
- request:
    method: get
    uri: http://api.zype-core.com:3000/consumers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b32f4e385a2ef56e4d5393f8aa503216"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"_id":"54919c6e4c616e63330f0000","_keywords":["com","email","example"],"created_at":"2014-12-17T10:08:30.282-05:00","email":"email-3@example.com","site_id":"545932274c616e2359000000","stripe_id":null,"subscription_count":0,"updated_at":"2014-12-17T10:08:30.282-05:00","video_favorites":[{"_id":"54919f334c616e60ce000000","created_at":"2014-12-17T10:20:19.421-05:00","updated_at":"2014-12-17T10:20:19.421-05:00","video_id":"546f75734c616e04b5020000"}]}],"pagination":{"current":1,"previous":null,"next":null,"per_page":10,"pages":1}}'
  recorded_at: Wed, 17 Dec 2014 15:25:17 GMT
- request:
    method: get
    uri: http://api.zype-core.com:3000/consumers/54919c6e4c616e63330f0000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"4789306309d4ba291f816060b0de44d3"'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"_id":"54919c6e4c616e63330f0000","_keywords":["com","email","example"],"created_at":"2014-12-17T10:08:30.282-05:00","email":"email-3@example.com","site_id":"545932274c616e2359000000","stripe_id":null,"subscription_count":0,"updated_at":"2014-12-17T10:08:30.282-05:00","video_favorites":[{"_id":"54919f334c616e60ce000000","created_at":"2014-12-17T10:20:19.421-05:00","updated_at":"2014-12-17T10:20:19.421-05:00","video_id":"546f75734c616e04b5020000"}]}}'
  recorded_at: Wed, 17 Dec 2014 15:25:17 GMT
recorded_with: VCR 2.9.3
