---
http_interactions:
- request:
    method: get
    uri: http://api.zype-core.com:3000/playlists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"6fdfbd19a55ab7d609f8394435103929"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"_id":"549082404c616e20e7290000","_keywords":["playlist","test"],"active":true,"created_at":"2014-12-16T14:04:32.666-05:00","description":"","priority":0,"related_video_ids":[],"site_id":"545932274c616e2359000000","title":"Test
        Playlist","updated_at":"2014-12-16T14:04:32.666-05:00","playlist_item_count":4}],"pagination":{"current":1,"previous":null,"next":null,"per_page":10,"pages":1}}'
  recorded_at: Tue, 16 Dec 2014 19:06:41 GMT
- request:
    method: get
    uri: http://api.zype-core.com:3000/playlists/549082404c616e20e7290000/videos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b1ff462ed95d7e93373bbb294248168a"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"_id":"5481f66e4c616e06ec670000","active":true,"categories":[{"title":"Season","value":["1","2","3","4","5","6","7"]},{"title":"Final
        test","value":["everything"]},{"title":"Test","value":["no","yes"]}],"country":"","created_at":"2014-12-05T13:16:14.280-05:00","description":"Music
        video by Taylor Swift performing #VEVOCertified, Pt. 3: Taylor Talks About
        Her Fans. (C) 2012 Big Machine Records, LLC.","duration":141,"episode":null,"featured":false,"foreign_id":null,"keywords":[],"mature_content":false,"published_at":"2012-10-29T11:45:07.000-04:00","rating":0.0,"related_playlist_ids":[],"request_count":0,"season":null,"site_id":"545932274c616e2359000000","status":"created","subscription_required":false,"title":"#VEVOCertified,
        Pt. 3: Taylor Talks About Her Fans","updated_at":"2014-12-15T17:53:24.119-05:00","zobject_ids":[],"thumbnails":[{"aspect_ratio":null,"height":90,"name":null,"url":"https://i.ytimg.com/vi/ehLp0cjqkRk/default.jpg","width":120},{"aspect_ratio":null,"height":180,"name":null,"url":"https://i.ytimg.com/vi/ehLp0cjqkRk/mqdefault.jpg","width":320},{"aspect_ratio":null,"height":360,"name":null,"url":"https://i.ytimg.com/vi/ehLp0cjqkRk/hqdefault.jpg","width":480},{"aspect_ratio":null,"height":480,"name":null,"url":"https://i.ytimg.com/vi/ehLp0cjqkRk/sddefault.jpg","width":640},{"aspect_ratio":null,"height":720,"name":null,"url":"https://i.ytimg.com/vi/ehLp0cjqkRk/maxresdefault.jpg","width":1280}]},{"_id":"5481f2814c616e06[...]
