---
http_interactions:
- request:
    method: get
    uri: http://api.zype-core.com:3000/zobject_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"fd4c91f9dc2351602a2c25a35b3a9487"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"_id":"546cd8124c616e043d010000","_keywords":["actor"],"created_at":"2014-11-19T12:49:06.385-05:00","description":"","site_id":"545932274c616e2359000000","title":"actor","updated_at":"2014-11-19T12:49:06.385-05:00","videos_enabled":true,"zobject_count":2},{"_id":"546cd8324c616e043d020000","_keywords":["director"],"created_at":"2014-11-19T12:49:38.521-05:00","description":"","site_id":"545932274c616e2359000000","title":"director","updated_at":"2014-11-19T12:49:38.521-05:00","videos_enabled":true,"zobject_count":2},{"_id":"547367fb4c616e0f00000000","_keywords":["test"],"created_at":"2014-11-24T12:16:43.555-05:00","description":"","site_id":"545932274c616e2359000000","title":"test","updated_at":"2014-11-24T12:16:43.555-05:00","videos_enabled":tru[...]
