---
http_interactions:
- request:
    method: get
    uri: http://api.zype-core.com:3000/video_sources?page=0&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"54ef1f67124b0bdb5337ec7ac640c7fa"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"_id":"5463e5124c616e2127200000","_keywords":["battles","epic","rap","videosource","youtube"],"created_at":"2014-11-12T17:54:10.626-05:00","deleteable":true,"editable":true,"guid":"UCMu5gPmKp5av0QCAajKTMhw","name":"Epic
        Rap Battles","provider_id":"5429b1cb69702d2f7c1a0000","refreshed_at":"2014-11-18T09:35:43.701-05:00","site_id":"545932274c616e2359000000","updated_at":"2014-11-18T09:35:47.901-05:00","video_count":0},{"_id":"5464dd5a4c616e0315270000","_keywords":["channel","my","videosource","youtube"],"created_at":"2014-11-13T11:33:30.604-05:00","deleteable":true,"editable":true,"guid":"UCQcLLP-U8jVBhgE57ANjsZg","name":"My
        YouTube Channel","provider_id":"5429b1cb69702d2f7c1a0000","refreshed_at":"2014-11-13T11:33:30.757-05:00","site_id":"545932274c616e2359000000","updated_at":"2014-11-18T18:25:44.667-05:00","video_count":0},{"_id":"546f75504c616e04b5010000","_keywords":["channel","my","videosource[...]
- request:
    method: post
    uri: http://api.zype-core.com:3000/video_sources?video_source%5Bguid%5D=1234abcdefg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"260c8ab82a671931197539242ad43e1c"'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"_id":"54908b414c616e20e7380000","_keywords":["videosource"],"created_at":"2014-12-16T14:42:57.231-05:00","deleteable":true,"editable":true,"name":null,"provider_id":null,"refreshed_at":null,"site_id":"545932274c616e2359000000","updated_at":"2014-12-16T14:42:57.231-05:00","video_count":0}}'
  recorded_at: Tue, 16 Dec 2014 19:42:57 GMT
[...]
