---
http_interactions:
- request:
    method: get
    uri: http://api.zype-core.com:3000/revenue_models
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"a5cfef2fc0a0da8d04159b38614ccc3f"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"_id":"5429b1c269702d2f7c000000","description":"Electronic
        sell-through","name":"EST"},{"_id":"5429b1c269702d2f7c010000","description":"Advertising
        Video On Demand","name":"AVOD"},{"_id":"5429b1c269702d2f7c020000","description":"Subscription
        Video On Demand","name":"SVOD"},{"_id":"5429b1c269702d2f7c030000","description":"Free","name":"Free"}],"pagination":{"current":1,"previous":null,"next":null,"per_page":10,"pages":1}}'
  recorded_at: Tue, 16 Dec 2014 19:30:34 GMT
- request:
    method: get
    uri: http://api.zype-core.com:3000/revenue_models/5429b1c269702d2f7c000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"c324b0aa8677b3f92e496f07cc7afe1c"'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"_id":"5429b1c269702d2f7c000000","description":"Electronic
        sell-through","name":"EST"}}'
  recorded_at: Tue, 16 Dec 2014 19:30:45 GMT
recorded_with: VCR 2.9.3
