---
http_interactions:
- request:
    method: get
    uri: http://api.zype-core.com:3000/zobject_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"fd4c91f9dc2351602a2c25a35b3a9487"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"_id":"546cd8124c616e043d010000","_keywords":["actor"],"created_at":"2014-11-19T12:49:06.385-05:00","description":"","site_id":"545932274c616e2359000000","title":"actor","updated_at":"2014-11-19T12:49:06.385-05:00","videos_enabled":true,"zobject_count":2},{"_id":"546cd8324c616e043d020000","_keywords":["director"],"created_at":"2014-11-19T12:49:38.521-05:00","description":"","site_id":"545932274c616e2359000000","title":"director","updated_at":"2014-11-19T12:49:38.521-05:00","videos_enabled":true,"zobject_count":2},{"_id":"547367fb4c616e0f00000000","_keywords":["test"],"created_at":"2014-11-24T12:16:43.555-05:00","description":"","site_id":"545932274c616e2359000000","title":"test","updated_at":"2014-11-24T12:16:43.555-05:00","videos_enabled":tru[...]
- request:
    method: post
    uri: http://api.zype-core.com:3000/zobject_types?zobject_type%5Btitle%5D=New%20Zobject%20Type!
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"c5f16d7346c8c72ec98375e6e8debd43"'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"_id":"54908d574c616e20e73b0000","_keywords":["new","type","zobject"],"created_at":"2014-12-16T14:51:51.302-05:00","description":null,"site_id":"545932274c616e2359000000","title":"new
        zobject type!","updated_at":"2014-12-16T14:51:51.302-05:00","videos_enabled":true,"zobject_count":0}}'
  recorded_at: Tue, 16 Dec 2014 19:51:51 GMT
[...]
- request:
    method: get
    uri: http://api.zype-core.com:3000/zobjects?zobject_type=actor
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"8d9c1e128d73864d6bfafa3f2b06f0d4"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"_id":"546f884c4c616e04b5040000","active":true,"created_at":"2014-11-21T13:45:32.541-05:00","description":"","friendly_title":"tom-cruise","keywords":[],"site_id":"545932274c616e2359000000","title":"Tom
        Cruise","updated_at":"2014-11-24T12:15:36.860-05:00","video_ids":["546b594d4c616e07fe020000","546b59564c616e07fe0a0000","546b59574c616e07fe0c0000"],"zobject_type_id":"546cd8124c616e043d010000","zobject_type_title":"actor"},{"_id":"546f88654c616e04b5050000","active":true,"created_at":"2014-11-21T13:45:57.711-05:00","description":"","friendly_title":"will-smith","keywords":[],"site_id":"545932274c616e2359000000","title":"Will
        Smith","updated_at":"2014-11-24T12:15:36.873-05:00","video_ids":["546b594d4c616e07fe020000","546b59564c616e07fe0a0000","546b59574c616e07fe0c0000"],"zobject_type_id":"546cd8124c616e043d010000","zobject_type_title":"actor"}],"pagination":{"current":1,"previous":null,"next":null,"per_page":10,"pages":1}}'
  recorded_at: Tue, 16 Dec 2014 23:10:58 GMT
- request:
    method: post
    uri: http://api.zype-core.com:3000/zobjects?zobject%5Btitle%5D=Chris%20Barnett&zobject_type=actor
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"6f460d96ba67530ed071ac84644a7605"'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"_id":"5490bc024c616e20e73c0000","active":false,"created_at":"2014-12-16T18:10:58.572-05:00","description":null,"friendly_title":"chris-barnett","keywords":[],"site_id":"545932274c616e2359000000","title":"Chris
        Barnett","updated_at":"2014-12-16T18:10:58.572-05:00","video_ids":[],"zobject_type_id":"546cd8124c616e043d010000","zobject_type_title":"actor"}}'
  recorded_at: Tue, 16 Dec 2014 23:10:58 GMT
[...]
