---
http_interactions:
- request:
    method: get
    uri: http://api.zype-core.com:3000/video_sources?page=0&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"4bedca7587fb3fadfb1f723aea3f5020"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"_id":"5463e5124c616e2127200000","_keywords":["battles","epic","rap","videosource","youtube"],"created_at":"2014-11-12T17:54:10.626-05:00","deleteable":true,"editable":true,"guid":"UCMu5gPmKp5av0QCAajKTMhw","name":"Epic
        Rap Battles","provider_id":"5429b1cb69702d2f7c1a0000","refreshed_at":"2014-11-18T09:35:43.701-05:00","site_id":"545932274c616e2359000000","updated_at":"2014-11-18T09:35:47.901-05:00","video_count":0},{"_id":"5464dd5a4c616e0315270000","_keywords":["channel","my","videosource","youtube"],"created_at":"2014-11-13T11:33:30.604-05:00","deleteable":true,"editable":true,"guid":"UCQcLLP-U8jVBhgE57ANjsZg","name":"My
        YouTube Channel","provider_id":"5429b1cb69702d2f7c1a0000","refreshed_at":"2014-11-13T11:33:30.757-05:00","site_id":"545932274c616e2359000000","updated_at":"2014-11-18T18:25:44.667-05:00","video_count":0},{"_id":"546f75504c616e04b5010000","_keywords":["channel","my","videosource[...]
