---
http_interactions:
- request:
    method: get
    uri: http://api.zype-core.com:3000/playlists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"927c6fbcb5eefa0a6fdee443c419dd17"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"_id":"5490846f4c616e20e7360000","_keywords":["active","best","playlist"],"active":true,"created_at":"2014-12-16T14:13:51.394-05:00","description":null,"priority":null,"related_video_ids":[],"site_id":"545932274c616e2359000000","title":"The
        best active playlist!","updated_at":"2014-12-16T14:13:51.394-05:00","playlist_item_count":0}],"pagination":{"current":1,"previous":null,"next":null,"per_page":10,"pages":1}}'
  recorded_at: Tue, 16 Dec 2014 19:43:03 GMT
- request:
    method: post
    uri: http://api.zype-core.com:3000/playlists?playlist%5Bactive%5D=true&playlist%5Btitle%5D=The%20best%20active%20playlist!
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"message":"Could not save upload: Title is already taken"}'
  recorded_at: Tue, 16 Dec 2014 19:43:03 GMT
- request:
    method: post
    uri: http://api.zype-core.com:3000/playlists?playlist%5Bactive%5D=true&playlist%5Btitle%5D=The%20best%20active%20playlist!!
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"0b8d7f60d2b3304c5a7ba2a51578985e"'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"_id":"54908b5c4c616e20e73a0000","_keywords":["active","best","playlist"],"active":true,"created_at":"2014-12-16T14:43:24.272-05:00","description":null,"priority":null,"related_video_ids":[],"site_id":"545932274c616e2359000000","title":"The
        best active playlist!!","updated_at":"2014-12-16T14:43:24.272-05:00","playlist_item_count":0}}'
  recorded_at: Tue, 16 Dec 2014 19:43:24 GMT
- request:
    method: get
    uri: http://api.zype-core.com:3000/playlists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"eb614c689868e8d0b68d2d87556c31c6"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"_id":"5490846f4c616e20e7360000","_keywords":["active","best","playlist"],"active":true,"created_at":"2014-12-16T14:13:51.394-05:00","description":null,"priority":null,"related_video_ids":[],"site_id":"545932274c616e2359000000","title":"The
        best active playlist!","updated_at":"2014-12-16T14:13:51.394-05:00","playlist_item_count":0},{"_id":"54908b5c4c616e20e73a0000","_keywords":["active","best","playlist"],"active":true,"created_at":"2014-12-16T14:43:24.272-05:00","description":null,"priority":null,"related_video_ids":[],"site_id":"545932274c616e2359000000","title":"The
        best active playlist!!","updated_at":"2014-12-16T14:43:24.272-05:00","playlist_item_count":0}],"pagination":{"current":1,"previous":null,"next":null,"per_page":10,"pages":1}}'
  recorded_at: Tue, 16 Dec 2014 19:43:24 GMT
recorded_with: VCR 2.9.3
