---
http_interactions:
- request:
    method: get
    uri: http://api.zype-core.com:3000/plans
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"671387a4c5b49c88b8a75cd93e1c550f"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"_id":"54919c4d4c616e6333070000","_keywords":["plan"],"active":true,"amount":"7.99","created_at":"2014-12-17T10:07:57.563-05:00","currency":"USD","description":null,"interval":"month","name":"Plan
        2","statement_description":null,"stripe_id":"stripe-id-2","stripe_public_key":"pk_test_iLS3IUO1bHqqLxNBWhxcW6cG","trial_period_days":0,"updated_at":"2014-12-17T10:07:57.563-05:00"}],"pagination":{"current":1,"previous":null,"next":null,"per_page":10,"pages":1}}'
  recorded_at: Wed, 17 Dec 2014 15:26:19 GMT
- request:
    method: get
    uri: http://api.zype-core.com:3000/plans/54919c4d4c616e6333070000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"3b5b66328bcc76ec0f4243ac431427cb"'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"_id":"54919c4d4c616e6333070000","_keywords":["plan"],"active":true,"amount":"7.99","created_at":"2014-12-17T10:07:57.563-05:00","currency":"USD","description":null,"interval":"month","name":"Plan
        2","statement_description":null,"stripe_id":"stripe-id-2","stripe_public_key":"pk_test_iLS3IUO1bHqqLxNBWhxcW6cG","trial_period_days":0,"updated_at":"2014-12-17T10:07:57.563-05:00"}}'
  recorded_at: Wed, 17 Dec 2014 15:26:19 GMT
recorded_with: VCR 2.9.3
