---
http_interactions:
- request:
    method: get
    uri: http://api.zype-core.com:3000/zobjects?zobject_type=actor
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"8d9c1e128d73864d6bfafa3f2b06f0d4"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"_id":"546f884c4c616e04b5040000","active":true,"created_at":"2014-11-21T13:45:32.541-05:00","description":"","friendly_title":"tom-cruise","keywords":[],"site_id":"545932274c616e2359000000","title":"Tom
        Cruise","updated_at":"2014-11-24T12:15:36.860-05:00","video_ids":["546b594d4c616e07fe020000","546b59564c616e07fe0a0000","546b59574c616e07fe0c0000"],"zobject_type_id":"546cd8124c616e043d010000","zobject_type_title":"actor"},{"_id":"546f88654c616e04b5050000","active":true,"created_at":"2014-11-21T13:45:57.711-05:00","description":"","friendly_title":"will-smith","keywords":[],"site_id":"545932274c616e2359000000","title":"Will
        Smith","updated_at":"2014-11-24T12:15:36.873-05:00","video_ids":["546b594d4c616e07fe020000","546b59564c616e07fe0a0000","546b59574c616e07fe0c0000"],"zobject_type_id":"546cd8124c616e043d010000","zobject_type_title":"actor"}],"pagination":{"current":1,"previous":null,"next":null,"per_page":10,"pages":1}}'
  recorded_at: Tue, 16 Dec 2014 23:19:08 GMT
- request:
    method: post
    uri: http://api.zype-core.com:3000/zobjects?zobject%5Bactive%5D=true&zobject%5Btitle%5D=Seth%20Rogen&zobject_type=actor
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"abdd35ef9a27cba58bf8af7dcc6595e4"'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"_id":"5490bdec4c616e20e73d0000","active":true,"created_at":"2014-12-16T18:19:08.331-05:00","description":null,"friendly_title":"seth-rogen","keywords":[],"site_id":"545932274c616e2359000000","title":"Seth
        Rogen","updated_at":"2014-12-16T18:19:08.331-05:00","video_ids":[],"zobject_type_id":"546cd8124c616e043d010000","zobject_type_title":"actor"}}'
  recorded_at: Tue, 16 Dec 2014 23:19:08 GMT
[...]
