---
http_interactions:
- request:
    method: get
    uri: http://api.zype-core.com:3000/playlists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - NCl-IcyAvN0WzxIDrcqIqg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"61f2fcec6ad3f70f5d8ef1fba7e91da2"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"_id":"549db7274c616e064a720000","_keywords":["playlist","test"],"active":true,"created_at":"2014-12-26T14:29:43.757-05:00","description":"","priority":0,"related_video_ids":[],"site_id":"545956c44c616e3436000000","title":"test
        playlist","updated_at":"2014-12-26T14:29:43.757-05:00","playlist_item_count":0}],"pagination":{"current":1,"previous":null,"next":null,"per_page":10,"pages":1}}'
  recorded_at: Fri, 26 Dec 2014 19:32:32 GMT
- request:
    method: get
    uri: http://api.zype-core.com:3000/videos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - NCl-IcyAvN0WzxIDrcqIqg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"456b009ad7d4b2b571aea97d6485def4"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"_id":"545d47904c616e3ffc030000","active":true,"categories":[{"title":"Podcast","value":["Right
        Reasons"]}],"country":"","created_at":"2014-11-07T17:28:32.812-05:00","data_sources":[{"_id":"545d47904c616e3ffc040000","active":false,"duration":3408,"status":"ready","youtube_id":"dJ0RXdX17iA","thumbnails":[{"_id":"5459577f4c616e345f5e0200","aspect_ratio":null,"height":90,"name":null,"url":"https://i.ytimg.com/vi/dJ0RXdX17iA/default.jpg","width":120},{"_id":"5459577f4c616e345f5f0200","aspect_ratio":null,"height":180,"name":null,"url":"https://i.ytimg.com/vi/dJ0RXdX17iA/mqdefault.jpg","width":320},{"_id":"5459577f4c616e345f600200","aspect_ratio":null,"height":360,"name":null,"url":"https://i.ytimg.com/vi/dJ0RXdX17iA/hqdefault.jpg","width":480},{"_id":"5459577f4c616e345f610200","aspect_ratio":null,"height":480,"name":null,"url":"https://i.ytimg.com/vi/dJ0RXdX17iA/sddefault.jpg","width":640},{"_id":"5459577f4c616e345f620200","aspect_ratio":null,"height":720,"name":null,"url":"https://i.ytimg.com/vi/dJ0RXdX17iA/maxresdefault.jpg","width":1280}]}],"description":"Juliet
        Litman and David Jacoby discuss ''Below Deck,'' the KimYe wedding special,
        and breakfast cocktails.\r\n\r\nVisit Grantland: http://www.Grantland.com\r\nGrantland
        on Twitter: http://www.Twitter.com/Grantland33\r\nGrantland on Facebook: http://www.facebook.com/Grantland33\r\nThe
        B.S. Report Podcast: http://espn.go.com/espnradio/podcast/archive?id=2864045\r\nGrantland
        Network Podcasts: http://www.grantland.com/podcasts","duration":3408,"episode":null,"featured":false,"foreign_id":null,"keywords":[],"mature_content":false,"published_at":"2014-09-05T11:19:49.000-04:00","rating":0.0,"related_playlist_ids":[],"request_count":0,"season":null,"site_id":"545956c44c616e3436000000","status":"created","subscription_required":false,"title":"''Bachelor
        in Paradise,'' ''Below Deck,'' and the KimYe Wedding | Right Reasons 09/04/14","updated_at":"2014-12-26T14:12:26.757-05:00","video_zobjects":[],"zobject_ids":[],"thumbnails":[{"aspect_ratio":null,"height":90,"name":null,"url":"https://i.ytimg.com/vi/dJ0RXdX17iA/default.jpg","width":120},{"aspect_ratio":null,"height":180,"name":null,"url":"https://i.ytimg.com/vi/dJ0RXdX17iA/mqdefault.jpg","width":320},{"aspect_ratio":null,"height":360,"name":null,"url":"https://i.ytimg.com/vi/dJ0RXdX17iA/hqdefault.jpg","width":480},{"aspect_ratio":null,"height":480,"name":null,"url":"https://i.ytimg.com/vi/dJ0RXdX17iA/sddefault.jpg","width":640},{"aspect_ratio":null,"height":720,"name":null,"url":"https://i.ytimg.com/vi/dJ0RXdX17iA/maxresdefault.jpg","width":1280}]}],"pagination":{"current":1,"previous":null,"next":null,"per_page":10,"pages":1}}'
  recorded_at: Fri, 26 Dec 2014 19:32:33 GMT
- request:
    method: put
    uri: http://api.zype-core.com:3000/playlists/549db7274c616e064a720000/add_videos?video_id%5B%5D=545d47904c616e3ffc030000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - NCl-IcyAvN0WzxIDrcqIqg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"066d4180796ef42aae87a7674fb5c249"'[...]
[...]
- request:
    method: get
    uri: http://api.zype-core.com:3000/playlists/549db7274c616e064a720000/videos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - NCl-IcyAvN0WzxIDrcqIqg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"456b009ad7d4b2b571aea97d6485def4"'
    body:
      encoding: US-ASCII
      st[...]
[...]
