---
http_interactions:
- request:
    method: get
    uri: http://api.zype-core.com:3000/categories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"48810d921f5415625c4b88e993aeea20"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"_id":"54907f944c616e20e7270000","_keywords":["favorite","pizza","toppings"],"created_at":"2014-12-16T13:53:08.564-05:00","site_id":"545932274c616e2359000000","title":"Favorite
        Pizza Toppings","updated_at":"2014-12-16T13:53:08.564-05:00","values":["Mushroom,
        Pepperoni"]},{"_id":"548f5b8e4c616e8031010000","_keywords":["clinot"],"created_at":"2014-12-15T17:07:10.481-05:00","site_id":"545932274c616e2359000000","title":"From
        the CLINOT","updated_at":"2014-12-16T13:53:08.266-05:00","values":[]},{"_id":"548f5bb74c616e8031020000","_keywords":["cli"],"created_at":"2014-12-15T17:07:51.307-05:00","site_id":"545932274c616e2359000000","title":"From
        the CLI 2","updated_at":"2014-12-15T17:07:51.307-05:00","values":[]},{"_id":"5[...]
[...]
- request:
    method: delete
    uri: http://api.zype-core.com:3000/categories/54907f944c616e20e7270000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Tue, 16 Dec 2014 18:53:09 GMT
- request:
    method: get
    uri: http://api.zype-core.com:3000/categories?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"c75d345ddf6f7b2b72f0058422ee2d32"'
    body:
      encoding: US-ASCII
      string: ! '{"respons[...]
