---
http_interactions:
- request:
    method: get
    uri: http://api.zype-core.com:3000/categories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"dfe8c3b076e78d0db6226eb4041d68b9"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"_id":"545cde234c616e04c3000000","_keywords":["season"],"created_at":"2014-11-07T09:58:43.355-05:00","site_id":"545932274c616e2359000000","title":"Season","updated_at":"2014-11-07T09:58:43.355-05:00","values":["1","2","3","4","5","6","7"]},{"_id":"546bbe694c616e07fe3e0000","_keywords":["test"],"created_at":"2014-11-18T16:47:21.221-05:00","site_id":"545932274c616e2359000000","title":"Test","updated_at":"2014-11-18T16:47:21.221-05:00","values":["yes","no"]},{"_id":"546cb2b64c616e043d000000","_keywords":["final","test"],"created_at":"2014-11-19T10:09:42.224-05:00","site_id":"545932274c616e2359000000","title":"Final
        test","updated_at":"2014-11-19T10:09:42.224-05:00","values":["everything"]},{"_id":"548f5b8e4c616e8031010000","_keywords":["cli"],"created_at":"2014-12-15T17:07:10.481-05:00","site_id":"545932274c616e2359000000","title":"From
        the CLI","updated_at":"2014-12-15T17:07:10.481-05:00","values":[]},{"_id":"548f5bb74c616e8031020000","_keywords":["cli"],"created_at":"2014-12-15T17:07:51.307-05:00","site_id":"545932274c616e2359000000","title":"From
        the CLI 2","updated_at":"2014-12-15T17:07:51.307-05:00","values":[]}],"pagination":{"current":1,"previous":null,"next":null,"per_page":10,"pages":1}}'
  recorded_at: Tue, 16 Dec 2014 17:20:21 GMT
- request:
    method: delete
    uri: http://api.zype-core.com:3000/categories/545cde234c616e04c3000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Zype-Key:
      - D1Ds5oSPvEoLM8UefkuKfg
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"status":"404","error":"Not Found"}'
  recorded_at: Tue, 16 Dec 2014 17:21:30 GMT
[...]
